@model WebApp.ViewModels.Dashboard.IndexViewModel

@{
    ViewData["Title"] = "Pizza Sharing Admin";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <h1>
            Pick an organization to edit
            <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Create">
                Create
            </a>   
        </h1>
        @foreach (var organization in Model.Organizations)
        {
            <div class="small-box bg-success">
                <div class="inner">
                    <h3> @organization.Name </h3>
                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a style="cursor: pointer" class="small-box-footer" asp-action="Organization" asp-route-id="@organization.Id">Add to cart <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        }
    </div>
    <div class="col-lg-3"></div>
</div>