@model Domain.Organization

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Organization</h4>
<hr/>


<div class="col-md-6">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-edit"></i></h3>
        </div>
        <form role="form" asp-action="Edit">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label class="control-label">Organization Id</label>
                    <input type="number" asp-for="Id" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label asp-for="OrganizationName" class="control-label">Organization Name</label>
                    <input asp-for="OrganizationName" class="form-control"/>
                    <span asp-validation-for="OrganizationName" class="text-danger"></span>
                </div>
            </div>
            
            <div class="card-footer">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>

<form >
    <button class="btn btn-default" asp-area="" asp-action="Index">
        <i class="fa fa-list"></i>
        Back to list
    </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
