@model WebApp.ViewModels.ReceiptRowViewModel

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Receipt Row</h4>
<hr />


<div class="col-md-6">
    <div class="card card-warning">
        
        @* Card Header *@
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-edit"></i></h3>
        </div>
        <form role="form" asp-action="Edit">

            @* Card Body *@
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ReceiptRow.Id" class="control-label">Id</label>
                    <input asp-for="ReceiptRow.Id" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label asp-for="ReceiptRow.Amount" class="control-label"></label>
                    <input asp-for="ReceiptRow.Amount" class="form-control" />
                    <span asp-validation-for="ReceiptRow.Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiptRow.RowDiscount" class="control-label"></label>
                    <input asp-for="ReceiptRow.RowDiscount" class="form-control" />
                    <span asp-validation-for="ReceiptRow.RowDiscount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiptRow.ProductId" class="control-label"></label>
                    <select asp-for="ReceiptRow.ProductId" class="form-control" asp-items="Model.Products"></select>
                    <span asp-validation-for="ReceiptRow.ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiptRow.ReceiptId" class="control-label"></label>
                    <select asp-for="ReceiptRow.ReceiptId" class="form-control" asp-items="Model.Receipts"></select>
                    <span asp-validation-for="ReceiptRow.ReceiptId" class="text-danger"></span>
                </div>
            </div>

            @* Card Footer *@
            <div class="card-footer">
                <div class="form-group">
                    <input type="hidden" asp-for="ReceiptRow.Id"/>
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
            
        </form>
    </div>
</div>

<form >
    <button class="btn btn-default" asp-area="" asp-action="Index">
        <i class="fa fa-list"></i>
        Back to list
    </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
