@model WebApp.ViewModels.ProductInCategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductInCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductInCategory.Id" />
            <div class="form-group">
                <label asp-for="ProductInCategory.CategoryId" class="control-label">Category</label>
                <select asp-for="ProductInCategory.CategoryId" class="form-control" asp-items="Model.Categories"></select>
                <span asp-validation-for="ProductInCategory.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInCategory.ProductId" class="control-label">Product</label>
                <select asp-for="ProductInCategory.ProductId" class="form-control" asp-items="Model.Products"></select>
                <span asp-validation-for="ProductInCategory.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
