@model WebApp.ViewModels.PriceViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Price</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Price.Value" class="control-label"></label>
                <input asp-for="Price.Value" class="form-control" />
                <span asp-validation-for="Price.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price.ProductId" class="control-label"></label>
                <select asp-for="Price.ProductId" class ="form-control" asp-items="Model.ProductSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price.ChangeId" class="control-label"></label>
                <select asp-for="Price.ChangeId" class ="form-control" asp-items="Model.ChangeSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price.ValidFrom" class="control-label"></label>
                <input type="date" asp-for="Price.ValidFrom" class="form-control" />
                <span asp-validation-for="Price.ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price.ValidTo" class="control-label"></label>
                <input type="date" asp-for="Price.ValidTo" class="form-control" />
                <span asp-validation-for="Price.ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
