@model WebApp.ViewModels.ReceiptRowChangeViewModel

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Receipt Row Change</h4>
<hr />

<div class="col-md-6">
    <div class="card card-success">
        @* Card Header *@
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-plus"></i></h3>
        </div>
        <form role="form" asp-action="Create">
            @* Card Body *@
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ReceiptRowChange.ReceiptRowId" class="control-label">Receipt Row Id</label>
                    <select asp-for="ReceiptRowChange.ReceiptRowId" class ="form-control" asp-items="Model.Rows"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiptRowChange.ChangeId" class="control-label">Change Name</label>
                    <select asp-for="ReceiptRowChange.ChangeId" class ="form-control" asp-items="Model.Changes"></select>
                </div>

            </div>
            @* Card Footer *@
            <div class="card-footer">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>

<form >
    <button class="btn btn-default" asp-area="" asp-action="Index">
        <i class="fa fa-list"></i>
        Back to list
    </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
