@model WebApp.Areas.Admin.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />

<div class="col-md-6">
    <div class="card card-warning">
        
        @* Card Header *@
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-edit"></i></h3>
        </div>
        <form role="form" asp-action="Edit">

            @* Card Body *@
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Product.Id" class="control-label">Product Id</label>
                    <input asp-for="Product.Id" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label asp-for="Product.ProductName" class="control-label">Product Name</label>
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.OrganizationId" class="control-label">Organization(owner)</label>
                    <select asp-for="Product.OrganizationId" class="form-control" asp-items="Model.Organizations"></select>
                    <span asp-validation-for="Product.OrganizationId" class="text-danger"></span>
                </div>
            </div>

            @* Card Footer *@
            <div class="card-footer">
                <div class="form-group">
                    <input type="hidden" asp-for="Product.Id"/>
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
            
        </form>
    </div>
</div>

<form >
    <button class="btn btn-default" asp-area="" asp-action="Index">
        <i class="fa fa-list"></i>
        Back to list
    </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
