@using Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="nav-icon fa fa-user"></i>
            <p >@Resources.Default.MyAccountButton</p>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <i class="nav-icon fa fa-user"></i>
            <p> @Resources.Default.LoginButton</p>
        </a>
    </li>
}

